@import "tailwindcss";

@theme {
    --color-primary: #111111;
    --color-secondary: #1a1a1a;
    --color-accent: #FFD700;

    --font-sans: 'Inter', sans-serif;

    --animate-blob: blob 7s infinite;

    @keyframes blob {
        0% {
            transform: translate(0px, 0px) scale(1);
        }

        33% {
            transform: translate(30px, -50px) scale(1.1);
        }

        66% {
            transform: translate(-20px, 20px) scale(0.9);
        }

        100% {
            transform: translate(0px, 0px) scale(1);
        }
    }
}

@layer base {
    body {
        @apply bg-primary text-white font-sans antialiased;
    }
}

@layer utilities {
    .glass {
        @apply bg-black/30 backdrop-blur-lg border-b border-white/10;
    }

    .text-gradient {
        @apply text-accent;
    }
}